<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Fragments</title>
    </head>
    <body>
        <!--/*@thymesVar id="currentDate" type="java.lang.String"*/-->
        <!--/*@thymesVar id="currentTime" type="java.lang.String"*/-->
        <div th:fragment="dateTime" id="time-container">
            <div th:text="${currentDate}"></div>
            <div th:text="${currentTime}"></div>
        </div>

        <!--/*@thymesVar id="language" type="java.lang.String"*/-->
        <!--/*@thymesVar id="currentContextPath" type="java.lang.String"*/-->
        <div th:fragment="languageSwitch" class="language-switch">
            <form method="POST" th:action="@{/switch-language}" th:object="${language}">
                <input type="hidden" name="redirect" th:value="${currentContextPath}">
                <button type="submit" name="lang" value="ENG">
                    <span class="button_top" th:classappend="${language == 'ENG' ? 'pressed' : ''}">
                        <img alt="ENG" th:src="@{/flag-uk.svg}">
                    </span>
                </button>
                <button type="submit" name="lang" value="HRV">
                    <span class="button_top" th:classappend="${language == 'HRV' ? 'pressed' : ''}">
                        <img alt="HRV" th:src="@{/flag-hr.svg}">
                    </span>
                </button>
            </form>
        </div>

        <!--/*@thymesVar id="success" type="java.lang.String"*/-->
        <div th:fragment="success" th:if="${success != null}" class="card mb-4">
            <div class="card-body">
                <div class="success-message">
                    <p th:text="${success}"></p>
                </div>
            </div>
        </div>

        <!--/*@thymesVar id="error" type="java.lang.String"*/-->
        <div th:fragment="error" th:if="${error != null}" class="card mb-4">
            <div class="card-body">
                <div class="error-message">
                    <p th:text="${error}"></p>
                </div>
            </div>
        </div>

        <!--/*@thymesVar id="assignments" type="java.util.List"*/-->
        <!--/*@thymesVar id="assignment" type="tvz.ntpr.core.entity.Assignment"*/-->
        <div th:fragment="assignmentSidebar(assignments)">
            <aside class="sidebar">
                <h2 th:text="#{assignment.title}"></h2>
                <ul th:unless="${assignments.isEmpty()}">
                    <li th:each="assignment : ${assignments}">
                        <a th:href="@{/assignment/{id}(id=${assignment.id})}"
                           th:text="${assignment.content == null ? '' : '✔ '} + ${assignment.title}"></a>
                    </li>
                </ul>
                <p th:if="${assignments.isEmpty()}" th:text="#{assignment.no-assignments}"></p>
            </aside>
        </div>
    </body>
</html>